*.o
*.d
*.vs
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
Log.txt
snippets
[Dd]ebug 
[Xx]64